{% if include.categories != empty %} •
  {% for category in include.categories %}
    {% assign no_comma = forloop.last %}
    {% for archive in site.archives %}
      {% if archive.type == "category" and archive.title == category %}
        <a href="{{ archive.url | relative_url }}">{{ archive.title | escape }}</a>{% unless no_comma %},{% endunless %}
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endif %}

{% if include.tags != empty %} •
  <span class="info-title"><i class="icon-tags"></i> Tags: </span>
  {% for tag in include.tags %}
    <a href="/tags.html#{{ tag }}-ref" >{{ tag }}</a>
  {% endfor %}
{% endif %}
