{% if include.category != empty and include.category != "" %} •
  <span class="info-title"><i class="icon-folder-open"></i> Category: </span>
  <!-- {% for category in include.category %}
    <a href="/category/{{ category }}" >{{ category }}</a>
  {% endfor %}
  1 -->
  <a href="/category/{{ include.category }}" >{{ include.category }}</a>
{% endif %}

{% if include.tags != empty and include.tags != "" %} •
  <span class="info-title"><i class="icon-tags"></i> Tags: </span>
  {% for tag in include.tags %}
    <a href="/tags/{{ tag }}" >{{ tag }}</a>
  {% endfor %}
{% endif %}
