<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <header class="site-header">
      <div class="wrapper">
        <a class="site-title" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
        <nav class="site-nav">
          <a class="page-link" href="/archive">Archives</a>
          <a class="page-link" href="/about">About</a>
        </nav>
      </div>
    </header>


    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
      <footer class="site-footer">
        <div class="wrapper">
        <span>
        &copy; <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time> D.S. Qiu @ 爱你就像爱生命！
        </span>
        </div>
      </footer>
    </main>

  </body>

</html>
